* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  height:100vh;
}

section {
  height: 100vh;
  display:flex;
  scroll-snap-align: start;
}

.about-me {
  background: #454d66;
  justify-content: center;
}

.ex-and-ed {
  background: #58b368;  
}

.projects {
  background: rgb(199,65,123);
  background: linear-gradient(162deg, rgba(199,65,123,1) 0%, rgba(2,0,36,1) 100%);
}

.header {
  justify-content: center;
  margin-left: 10px;
}

.column-one {
  width:50%;
}

h1 {
  color:#f56038;
}

.title {
  justify-content: center;
}

.name {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  letter-spacing: 0.01em;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.sub-title {
  font-family: 'Bebas Neue', cursive;
  color:white;
  letter-spacing: 0.6em;
  margin:-10px 0px 5px 0px;
}

.contact-info {
  justify-content: center;
  display:flex;
  margin: 0px 10px 0px 10px;
  padding-left: 15px;

}

.contact-icons {
  height:30px;
  margin: 5px 5px 0px 10px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.contact-icons:hover,
.contact-icons:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

#location-info {
  display:flex;
}

p {
  font-family: 'Raleway', sans-serif;
  color:white;
  float: left;
  padding: 50px 35px 0px 35px;
  margin-bottom:-20px;
  font-weight: 100;
  word-spacing: 3px;
  text-align: justify;
  line-height: 140%;
}

p#location-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color:#f7a325;
  margin: 12px 0px 0px 0px;
  padding:0px;
  line-height: 100%;
}

.bold-text {
  color:#ffc266;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding:0px;
}

#skills {
  background-color: #3e455b;
  height:100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
