* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y:scroll;
  overflow-x: hidden;
  height:100vh;
}

section {
  height: 100vh;
  display:flex;
  scroll-snap-align: start;
}

.landing {
  display:flex;
  /* flex-direction: row; */
  justify-content: center;
  
  transform: translate(100px, 50px);
}

.column-one {
  align-content: center;
  flex-direction: row;
  margin-right:20px;
}

.personal-info-container {
  justify-content: center;
}

.name {
  font-family: 'Bebas Neue', cursive;
  font-size: 100px;
  letter-spacing: 0.01em;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  color:#f56038;
}

.sub-title {
  font-family: 'Bebas Neue', cursive;
  color:white;
  letter-spacing: 0.615em;
  margin:0px 0px 5px 10px;
}

.sub-title-2 {
  font-family: 'Bebas Neue', cursive;
  color:black;
  letter-spacing: 0.6em;
  margin:0px 0px 5px 0px;
}

#fullstack-dev {
  margin-top: -10px;
}

.contact-info-container {
  justify-content: center;
  display:flex;
}

.contact-icons {
  height:40px;
  margin: 5px 10px 5px 10px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0));
}

.contact-icons:hover,
.contact-icons:focus {
  /* filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0, 0.5)); */
    transform: translate(-0.25em, -0.25em);
}

#location-info {
  display:flex;
  font-size: 18px;
}

p {
  font-family: 'Raleway', sans-serif;
  color:white;
  font-weight: 200;
  word-spacing: 3px;
  margin: 20px 0px 40px 0px;
  text-align: justify;
  line-height: 140%;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

.about-paragraph-container {
  width:70%;
  background-color: rgba(247, 163, 37, .9);
  transform: translate(10px, 5px);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.job-attributes {
  color:#f7a325;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding:0px;
}
  

p.location-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color:#f7a325;
  margin: 15px 0px 0px -5px;
  padding:0px;
  line-height: 100%;
  
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0));
}

.bold-text {
  color:rgba(245, 96, 56, 1);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding:0px;
  font-size: 20px;
}

.red-bold-text {
  color:#f56038;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding:0px;
  font-size: 20px;
}

.dark-bold-text {
  color:black;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding:0px;
  font-size: 20px;
}

.white-bold-text {
  color:white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding:0px;
  font-size: 20px;
}

#me {
  height:250px;
  border-radius: 50%;
  margin: 50px 0px 50px 0px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  }

  /* COLUMN TWO */

  .column-two {
    width:50%;
    margin-top:-5px ;
    justify-content: center;
  }
  
  .about-me {
    background: #454d66;
    justify-content: center;
  }

  #about-me-sub-title{
    margin: 0px 0px 40px 0px;
  }
  
  p.about-paragraph-one {
    color:black;
    padding:20px 20px 10px 20px;
  }

  p.about-paragraph-two {
    color:black;
    padding:10px 20px 20px 20px;
    margin-top:-40px;
  }
  
  /* SKILLS */
  
  div#super-powers-container {
    background-color: rgba(247, 163, 37, .9);
    transform: translate(-40px, 0);
    width:70%;
    max-height: max-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  #super-powers-sub-title {
    margin-top: 20px;
    color:white;
  }
  
  .skill-container {
    display:flex;
    flex-wrap:wrap;
    padding: 20px;
    justify-content: center;
  }
  
  .skill-icon {
    margin: 10px 30px 20px 30px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0, 0.5));
    flex-wrap: wrap;
    width:80px;
  } 

  .skill-text {
    color:black;
    font-size: 15px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0,0,0, 0.5));
  }
  
  .skill-icon:hover {
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(255,255,255, 0.5));
    transform: translate(-0.25em, -0.25em);
  } 
  
  #ruby {
    height: 45px;
    margin: 0px 10px 5px 0px
  }
  
  #javascript {
    height: 49px;
  }
  
  #rest {
    height: 49px;
    margin: 0px 10px 13px 0px
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-650%,-150%);
  margin-top:300px;
}

.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #ffc266;
  border-right: 5px solid #ffc266;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

/* Experience & Education Page */


.ex-and-ed {
  padding:20px;

  background-color: rgba(245, 96, 56, 1);
}

.resume-section {
  width:95%;
}

#experience-sub-title {
 padding-bottom: 10px; 
}

.jobs-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 90%;
}

div.jobs-section > div {
  background-color: rgba(255,194,102, .75);
  vertical-align: middle;
  width:45%;
  margin:1rem;
}

.role {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.experience-listing {
  display:inline;
  flex-wrap: wrap;
  background-color: rgba(255,255,255, .75);
  margin:20px;
  padding:20px;
  justify-content: space-around;
}

span.job-title {
  display:flex;
  font-size:17px;
  color:black;
  width:fit-content;
  margin:auto;
}

.role-title {
  color:black;
  font-weight: 700;
}

.role-details {
  margin-bottom:20px;
  margin-top:-10px;
  text-align: center;
}

.grad-cap {
 height:40px;
 margin:10px 10px 0px 10px;
}

/* Projects page */

.projects {
  background-color:#ffc266;
}

.project-container{
  background-color: rgba(255,255,255, .75);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.project-gif {
  width:500px;
  order:1;
}

.project-link {
  background:black;
  font-family: 'Raleway', sans-serif;
  color:white;
  font-weight: 200;
  padding:10px 20px 10px 20px;
  text-decoration: none;
  margin:20px;
  display:inline-block;
  order:2;
}

/* @media all and (min-width:0px) and (max-width: 320px) {
  .contact-info {
    justify-content: left;
    display:flex;
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  
  }
} */


/* @media all and (min-width:481px) and (max-width: 568px) {
  .contact-info {
    justify-content: left;
    display:flex;
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  
  }
}

@media all and (min-width:569px) and (max-width: 768px) {
  .contact-info {
    justify-content: left;
    display:flex;
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  
  }
}

@media all and (min-width:769px) and (max-width: 800px) {
  .contact-info {
    justify-content: left;
    display:flex;
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  
  }
}

@media all and (min-width:801px) and (max-width: 959px) {
  .contact-info {
    justify-content: left;
    display:flex;
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  
  }
}

@media all and (min-width:960px) and (max-width: 1024px) {
  .contact-info {
    justify-content: left;
    display:flex;
    margin: 0px 10px 0px 0px;
    padding-left: 15px;
  
  }
} */