@media all and (min-width:321px) and (max-width: 480px) {

 /* Landing Page */

 .column-one {
  width:50%;
  margin-left: -30px;
}


  .contact-info {
      justify-content: left;
      display:flex;
      margin: 0px 0px 0px -10px;
      padding-left: 15px;
    }

    .contact-icons {
        height:30px;
        margin: 5px 5px 0px 0px;
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
      }
      
    .container {
        scroll-snap-type: unset;
        overflow-y:scroll;
        height:100vh;
      }

    section {
      height: 125vh;
      display:flex;
      /* scroll-snap-align: start; */
    }
    .details {
      width:120%;
      font-size: 20px;
      margin-left: -15px;
      margin-right: -25px;
      
    }
  
    .header {
      justify-content: center;
      margin: 50px 0px 0px 0px;
    }
    p {
      font-family: 'Raleway', sans-serif;
      color:white;
      float: left;
      padding: 50px -10px 0px -10px;
      margin-bottom:-20px;
      font-weight: 100;
      word-spacing: 3px;
      text-align: justify;
      line-height: 140%;
    }

    #me {
      height:200px;
      /* width: 200px; */
      border-radius: 50%;
      margin: 30px 0px 0px 20px;
      filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
      }
  
    /* .column-one {
      width:100%;
      
    } */
  }

  /* Experience and Ed */

  #super-powers-container {
    background-color: rgba(255,194,102, .75);
    margin: 10px -130px 0px 50px ;
    padding: 5px 0px 5px 0px;
  }
